.container-det{
    padding: 0px 260px;
}

.info-casa {
    text-align: center !important;  
}

.info-des {
    font-size: 1.0rem !important;   

}

.info-casa span{
    font-size: 1.2rem !important;
    font-family: "Gothicb" !important;
    color: black;
    
}

.info-prop {
    font-size: 1.04rem !important;
    font-family: "Gothicb" !important;
    color: var(--mattes);
}

.info-prop span{
    font-family: "Gothic";
    color: black;
}


.precio {
    margin-right: 20px;
    font-size: 1.4rem !important;
    font-family: "Gothicb" !important;
}

.icon {
    height: 50px;
    width: 50px;
    visibility: visible;
}

.photo {
    width: 150px;
    height: 150px;
    
}
.pr-xl-7{
    padding-right: 7rem !important;
}

.owl-carousel{
    max-width: 900px;
    margin: 0 auto;
    justify-items: center;
}

.item {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
    
}

.item img {
    align-items: center;
    width: 100%;
    height: 100%;
}

.mg-b-150 {
    margin-bottom: 150px;
}

.agendar-cita {
    position: absolute;
    font-size: 15px;
    font-family: "Gothicb";
	bottom: 10px;
	right: 10px; 
	visibility: visible;
    border-radius: 5px;
    background-color: var(--mattes9);
    border-color: var(--mattes9);
}

.rentar-casa{
    position: absolute;
    font-size: 15px;
    font-family: "Gothicb";
	bottom: 10px;
	right: 10px; 
	visibility: visible;
    border-radius: 5px;
    background-color: var(--mattes10);
    border-color: var(--mattes10);
}


.enviar-dudas{
    position: absolute;
    font-size: 15px;
    font-family: "Gothicb";
	visibility: visible;
    border-radius: 5px;
    color: white;
    background-color: var(--mattes);
    border-color: var(--mattes);
}

.preguntas {
    font-family: "Gothicb";
    font-size: 1rem;
}

@media(min-width:576px){
    .preguntas {
        margin-left: 30px;
    }
}

.respuestas {
    margin-left: 60px;
    font-size: 1rem;
    text-align: justify;
}

.photo-user {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    width: 50px; 
}

.usuario-name {
    font-size: 1rem;
    margin-bottom: 0 !important;
}

.opiniones {
    font-size: 1rem;
    margin-bottom: 0 !important;
}

.favorito{
    color: #2b60f1;
	visibility: visible;
    cursor: pointer;
    border: 0;
    background: none;
    font-size: 22px !important;
}

.favorito-o{
    color: #2b60f1;
	visibility: visible;
    cursor: pointer;
    border: 0;
    background: none;
    font-size: 22px !important;
}

.compartir{
    position: absolute;
    color: #2b60f1;
    text-decoration: underline;
    font-family: "Gothicb";
	visibility: visible;
    cursor: pointer;
    border: 0;
    background: none;
    font-size: 15px !important;
}

.roomies{
    margin-left: 30px;
}

.details:nth-of-type(1),
.details:nth-of-type(2),
.details:nth-of-type(3),
.details:nth-of-type(4),
.details:nth-of-type(5){
    margin-left: 30px;
    color: black;
    font-family: "Gothicbi" !important;
    line-height: 0.7rem;
    font-size: 1rem;
}

.details span{
    font-family: "Gothic";
}

.inmobiliaria{
    font-family: "Gothic" !important;
    font-size: 1rem;
}


