.agentes{
    color: var(--mattes);
    text-decoration: underline;
    font-family: "Gothic";
}

@media(min-width:576px) {
    .agentes{
        text-decoration: none;
    }

    .agentes::after,
    .agentes::before {
        content: ' ';
        position: absolute;
        width: 120px;
        height: 3px;
        background-color: currentcolor;
        top: 4.3em;
    }

    .agentes::before {
        left: 90px;
    }

    .agentes::after {
        right: 90px;
    }
}


@media(min-width:768px) {   
    .agentes::after,
    .agentes::before {        
        top: 2.3em;
    } 
    .agentes::before {
        left: 180px;
    }

    .agentes::after {
        right: 180px;
    }
}

@media(min-width:992px) {    
    .agentes::before {
        left: 300px;
    }

    .agentes::after {
        right: 300px;
    }
}

@media(min-width:1200px) {    
    .agentes::before {
        left: 374px;
    }

    .agentes::after {
        right: 374px;
    }
}

/*Estilos animados a los inputs*/
.form__group {
    margin: auto;
    position: relative;
}

.form__input {
    display: block;
    width: 100%;
    background: none;
    color: #000;
    font-size: 18px;
    padding: 8px 12px 8px 5px;
    border: none;
    border: 1px solid #ccc;
}

.form__input:focus {
    outline: none;
    color: #000;
    padding-bottom: 8px;
}

input {
    caret-color: var(--mattes);
}



.pr-5-5{
    padding-right: 4rem !important;
}
@media(min-width: 992px){
    .pr-lg-6{
        padding-right: 4.5rem !important;
    }
}
