.chat-box {
    height: 350px;
    overflow-y: scroll;
    margin-top: 40px;
}

.enviado {
    background-color: var(--mattes2);
    border: none !important;
    color: white;
}

.recibido {
    background-color: lightgray;
    border: none !important;
}
.form-control{
    border-radius: 0px !important;
}
