#btnRuser i {
    margin-top: 0;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 27px;
}

#btnLeftMenu i {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.7);
    font-size: 27px;
}

.navicon-left {
    position: static;
    z-index: 100;
    justify-content: left;
    box-sizing: inherit;
    background-color: black !important;
    text-align: left;
}

.navicon-right {
    position: static;
    z-index: 100;
    align-items: flex-end;
    justify-content: right;
    background-color: black !important;
}

.navicon-middle {
    position: static;
    z-index: 100;
    align-items: flex-end;
    justify-content: center;
    background-color: black !important;
}

.logo-mattes {
    display: block;
    justify-content: center;
    max-width: 85px;
    margin-top: 3px;
    margin-right: auto;
    margin-left: auto;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #cccccc;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
    width: 60px;
}

.slider:before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    color: #2132f9;
    background-color: white;
    content: "\f00d";
    -webkit-transition: .4s;
    transition: .4s;
    font-family: 'FontAwesome';
}

input:checked+.slider {
    background-color: #006425;
    width: 60px;
}

input:focus+.slider {
    box-shadow: 0 0 1px #006425;
}

input:checked+.slider:before {
    content: "\f00c";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 650px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(33, 140, 230, 10);
    border-radius: 3px;
    transition: 0.2s;
}

.choose-file-button {
    flex-shrink: 0;
    padding: 8px 15px;
    margin-right: 10px;
    border: 1px solid rgba(33, 140, 230, 0.6);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.04);
    text-transform: uppercase;
    font-size: 12px;
}

.file-message {
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: small;
    font-weight: 300;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.mt-100 {
    margin-top: 100px;
}

.mb-md-400 {
    margin-bottom: 400px;
}

.mb-540 {
    margin-bottom: 540px;
}

.tab {
    width: 100%;
    border: transparent;
    background-color: #fff;
}

.tab button {
    float: left;
    padding: 10px 30px;
    border-radius: 0px;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;   
}

.tab button:hover {
    background-color: #ddd;
}

.datos-propietario .tablinks {
    border: 1px solid #ddd;
    color: black;
    background-color: white !important;
}
.datos-propietario .tablinks:nth-child(6){
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.datos-propietario .tablinks.active,
.datos-propietario .tablinks:hover {
    border-radius: 0px !important;
    color: white;
    background-color: #000 !important;
}

@media(min-width:992px) {
    .datos-propietario .tablinks {
        border-right: 1px solid #aaa;
        color: black;
        background-color: #ddd !important;
    }
    .datos-propietario .tablinks:nth-child(6){
        border-top-right-radius: 8px;
        border-bottom-left-radius: 0px;
    }
    .datos-propietario .tablinks:first-child{
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }  
    .tab {
        border: transparent;
    }
}


.datos-personales,
.datos-bancarios,
.datos-fiscales,
.notificaciones,
.d-propiedad {
    color: var(--mattes);
    font-family: "Gothicb";
    text-decoration: underline;
}

@media(min-width:576px) {
    .datos-personales,
    .datos-bancarios,
    .datos-fiscales,
    .notificaciones,
    .d-propiedad {
        text-decoration: none;
    }
    .datos-personales::after,
    .datos-personales::before,
    .datos-bancarios::after,
    .datos-bancarios::before,
    .datos-fiscales::after,
    .datos-fiscales::before,
    .notificaciones::after,
    .notificaciones::before,
    .d-propiedad::after,
    .d-propiedad::before {
        position: absolute;
        top: 0.6em;
        width: 120px;
        height: 2px;
        background-color: currentcolor;
        content: ' ';
    }
    .datos-personales::before {
        left: -20px;
    }
    .datos-personales::after {
        right: -20px;
    }
    /*DATOS BANCARIOS*/
    .datos-bancarios::before {
        left: 3px;
    }
    .datos-bancarios::after {
        right: 3px;
    }
    /*DATOS FISCALES*/
    .datos-fiscales::before {
        left: 17px;
    }
    .datos-fiscales::after {
        right: 17px;
    }
    /*NOTIFICACIONES*/
    .notificaciones::before {
        left: 12px;
    }
    .notificaciones::after {
        right: 12px;
    }
    /*DATOS PROPIEDAD*/
    .d-propiedad::before {
        left: 17px;
    }
    .d-propiedad::after {
        right: 17px;
    }
    .mb-sm-480 {
        margin-bottom: 480px;
    }
}

@media(min-width:768px) {
    .datos-personales::before {
        left: 70px;
    }
    .datos-personales::after {
        right: 70px;
    }
    /*DATOS BANCARIOS*/
    .datos-bancarios::before {
        left: 90px;
    }
    .datos-bancarios::after {
        right: 90px;
    }
    /*DATOS FISCALES*/
    .datos-fiscales::before {
        left: 104px;
    }
    .datos-fiscales::after {
        right: 104px;
    }
    /*NOTIFICACIONES*/
    .notificaciones::before {
        left: 102px;
    }
    .notificaciones::after {
        right: 102px;
    }
    /*DATOS PROPIEDAD*/
    .d-propiedad::before {
        left: 104px;
    }
    .d-propiedad::after {
        right: 104px;
    }
    .mb-md-455 {
        margin-bottom: 455px;
    }
}

@media(min-width:992px) {
    .datos-personales::before {
        left: 190px;
    }
    .datos-personales::after {
        right: 190px;
    }
    /*DATOS BANCARIOS*/
    .datos-bancarios::before {
        left: 210px;
    }
    .datos-bancarios::after {
        right: 210px;
    }
    /*DATOS FISCALES*/
    .datos-fiscales::before {
        left: 225px;
    }
    .datos-fiscales::after {
        right: 225px;
    }
    /*NOTIFICACIONES*/
    .notificaciones::before {
        left: 222px;
    }
    .notificaciones::after {
        right: 222px;
    }
    /*DATOS PROPIEDAD*/
    .d-propiedad::before {
        left: 225px;
    }
    .d-propiedad::after {
        right: 225px;
    }
    .mb-lg-380 {
        margin-bottom: 380px !important;
    }
}

@media(min-width:1200px) {
    .datos-personales::before {
        left: 280px;
    }
    .datos-personales::after {
        right: 280px;
    }
    /*DATOS BANCARIOS*/
    .datos-bancarios::before {
        left: 300px;
    }
    .datos-bancarios::after {
        right: 300px;
    }
    /*DATOS FISCALES*/
    .datos-fiscales::before {
        left: 314px;
    }
    .datos-fiscales::after {
        right: 314px;
    }
    /*NOTIFICACIONES*/
    .notificaciones::before {
        left: 312px;
    }
    .notificaciones::after {
        right: 312px;
    }
    /*DATOS PROPIEDAD*/
    .d-propiedad::before {
        left: 314px;
    }
    .d-propiedad::after {
        right: 314px;
    }
}


/*Estilos animados a los inputs*/

.form-control,
.dataTables_filter input {
    border-radius: 0px !important;
}

.form__group {
    position: relative;
    margin: auto;
}

.form__input {
    display: block;
    width: 100%;
    padding: 8px 12px 8px 5px;
    border: none;
    border: 1px solid #ccc;
    color: #000;
    background: none;
    font-size: 18px;
}

.form__input:focus {
    padding-bottom: 8px;
    outline: none;
    color: #000;
}

input {
    caret-color: var(--mattes);
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    position: absolute;
    top: -23px;
    left: 16px;
    width: 95%;
    color: #212529;
    font-size: 18px;
}

.form__label {
    position: absolute;
    top: 6px;
    left: 24px;
    color: #212529;
    transition: 0.5s ease all;
    font-size: 18px;
    pointer-events: none;
}
/* 
input[type=text]:valid:not(:focus):not(:placeholder-shown),
input[type=tel]:valid:not(:focus):not(:placeholder-shown),
input[type=email]:valid:not(:focus):not(:placeholder-shown),
input[type=date]:valid:not(:focus):not(:placeholder-shown),
input[type=number]:valid:not(:focus):not(:placeholder-shown) {
    padding-right: calc(1.5em + .75rem) !important;
    border: 1px solid #28a745;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

input[type=text]:invalid:not(:focus):not(:placeholder-shown),
input[type=tel]:invalid:not(:focus):not(:placeholder-shown),
input[type=email]:invalid:not(:focus):not(:placeholder-shown)
input[type=number]:invalid:not(:focus):not(:placeholder-shown) {
    padding-right: calc(1.5em + .75rem) !important;
    border: 1px solid #dc3545;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

input[type=text]:invalid:not(:focus):not(:placeholder-shown)~.requirements,
input[type=tel]:invalid:not(:focus):not(:placeholder-shown)~.requirements,
input[type=email]:invalid:not(:focus):not(:placeholder-shown)~.requirements,
input[type=date]:invalid:not(:focus):not(:placeholder-shown)~.requirements,
input[type=number]:invalid:not(:focus):not(:placeholder-shown)~.requirements {
    max-height: 200px;
   
}

.requirements {
    overflow: hidden;
    max-height: 0;
    color: #999;
    color: red;
    transition: 0.28s;
    font-family: "Gothici";
}
 */
.badge {
	font-family: "Gothicb";
}

.stepper {
	position: relative;
	display: inline-flex;
	overflow: hidden;
	flex-direction: row;
	padding: 0;
	margin: 0;
	border: 1px solid #0088F7;
    border-radius: 10px;
	list-style: none;
}

.stepper__wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.stepper__item:first-child .stepper__link {
	padding-left: 20px;
}

.stepper__item:last-child .stepper__link {
	padding-right: 20px;
}

.stepper__link {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px 0 10px 40px;
	color: black;
	background: white;
	text-align: center;
	text-decoration: none;
}

.stepper__link::after {
	position: absolute;
    z-index: 2;
	top: 42%;
    left: 100%;
	display: block;
    display: block;
	width: 0;
    width: 23px;
    width: 20px;
	height: 0;
    height: 65px;
    margin-top: -27px;
    border-radius: 0% 80% 80% 0% ;
    background-color: #025272;
	content: " ";
}

.stepper {
	position: relative;
	display: inline-flex;
	overflow: hidden;
	flex-direction: row;
	padding: 0;
	margin: 0;
	border: 1px solid #0088F7;
	list-style: none;
}

.stepper__wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.stepper__item:first-child .stepper__link {
	padding-left: 20px;
}

.stepper__item:last-child .stepper__link {
	padding-right: 20px;
}

.stepper__link {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px 0 10px 40px;
	color: black;
	background: white;
	text-align: center;
	text-decoration: none;
}

.stepper__link:hover {
	color: #000;
	background-color: white;
}

.stepper__link:hover::after {
	border-left-color: white;
}

.stepper__link--active, .stepper__link--active:hover {
	color: #fff;
	background-color: #025272;
}

.stepper__link--active::after, .stepper__link--active:hover::after {
	border-left-color: #0088F7;
}

.stepper__link--done {
	color: #000;
	background-color: white;
}

.stepper__link--done::after {
	border-left-color: white;
}

.stepper__link--done .fa-check {
	color: #05c305;
}

.stepper__wrapper a:hover{
    cursor: default;
    text-decoration: none;
}

.stepper__link--disabled, .stepper__link--disabled:hover {
	color: #333;
	background-color: #ccc;
}

.stepper__link--disabled::after, .stepper__link--disabled:hover::after {
	border-left-color: #ccc;
}  

.detalle-prop{
    color: var(--mattes);
    font-family: "Gothicb";
    text-decoration: underline;
}

@media(min-width:576px) {
    .detalle-prop {
        text-decoration: none;
    }
    .detalle-prop::after,
    .detalle-prop::before {
        position: absolute;
        top:1.5rem;
        width: 80px;
        height: 3px;
        background-color: currentcolor;
        content: ' ';
    }
    .detalle-prop::before {
        left: 2px;
    }
    .detalle-prop::after {
        right: 2px;
    }
}

@media(min-width:768px) {
    .detalle-prop::after,
    .detalle-prop::before {
        width: 120px;
    }
    .detalle-prop::before {
        left: 50px;
    }
    .detalle-prop::after {
        right: 50px;
    }
}

@media(min-width:992px) {
    .detalle-prop::before {
        left: 95px;
    }
    .detalle-prop::after {
        right: 95px;
    }
}

@media(min-width:1200px) {
    .detalle-prop::before {
        left: 165px;
    }
    .detalle-prop::after {
        right: 165px;
    }
}