.logo {
    width: 215px;
}

.nav-item {
    font-size: 1.2rem !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0) !important;
}

.dropdown-menu {
    top: 40px !important;
    right: 0px;
    left: auto !important;
    width: 280px;
    color: white !important;
    background-color: #e2b811!important;
}

.dropdown-item {
    border-bottom: 1px solid #fff !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white !important;
    background-color: #000 !important;
}

.dropdown-item:focus>img,
.dropdown-item:hover>img {
    filter: invert(1) !important;
}

.notificacion {
    position: absolute !important;
    top: 0 !important;
    right: 114px !important;
    padding: 0 7px !important;
    border-radius: 10px !important;
    color: #fff !important;
    background-color: red !important;
    font-family: 'Gothicb' !important;
    font-size: 14px !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #cccccc;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    color: #2132f9;
    background-color: white;
    content: "\f00d";
    -webkit-transition: .4s;
    transition: .4s;
    font-family: 'FontAwesome';
}

input:checked+.slider {
    background-color: #006425;
}

input:focus+.slider {
    box-shadow: 0 0 1px #006425;
}

input:checked+.slider:before {
    content: "\f00c";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media (min-width:350px) {
    .notificacion {
        right: 126px !important;
    }
}

@media (min-width:380px) {
    .notificacion {
        right: 140px !important;
    }
}

@media (min-width:400px) {
    .notificacion {
        right: 155px !important;
    }
}

@media (min-width:425px) {
    .notificacion {
        right: 165px !important;
    }
}

@media (min-width:450px) {
    .notificacion {
        right: 175px !important;
    }
}

@media (min-width:470px) {
    .notificacion {
        right: 190px !important;
    }
}

@media (min-width:500px) {
    .notificacion {
        right: 205px !important;
    }
}

@media (min-width:530px) {
    .notificacion {
        right: 220px !important;
    }
}

@media (min-width:560px) {
    .notificacion {
        right: 235px !important;
    }
}

@media (min-width:768px) {
    .notificacion {
        right: 323px !important;
    }
}

@media (min-width:992px) {
    .notificacion {
        right: -9px !important;
    }
    .mg-t-80{
        margin-top: 120px !important;
    }
}

.fa-heart {
    color: var(--mattes) !important;
}

.boton-menu:before {
    color: #000;
    content: '\f142 ';
    font-family: 'FontAwesome';
    font-size: 3rem;
}

.icono-cerrar:before {
    position: absolute;
    top: 19px;
    right: 23px;
    content: '\f00d';
    font-size: 3rem;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}


.navbar-toggler:focus,
.navbar-toggler:focus-visible {
    outline: none !important;
}

 .navbar-light .navbar-nav .nav-link {
    border-bottom: 2px solid var(--mattes);
    color: rgba(0,0,0,1) !important;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;   
    /*text-align: center;*/
    text-transform: uppercase;
}
.navbar-light:hover .navbar-nav:hover .nav-link:hover {
    color: white !important;
}

@media(min-width:992px){
    .navbar-light .navbar-nav .nav-link {   
        border-bottom: 2px solid transparent;
        background-color: transparent !important;
        text-transform: none;
    }
    .navbar-light:hover .navbar-nav:hover .nav-link:hover{
        border-bottom: 2px solid var(--mattes);
        color: var(--mattes) !important;
    }
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--blanco);
  background-color: var(--mattes);
}

.height-reportes{
    height: 404px;
}

@media(min-width:576px){
    .height-reportes{
        height: 450px;
    }
}


@media(min-width:992px){
    .navbar-light .navbar-nav .nav-link {
        border-radius: none;
        color: var(--mattes2);
        background-color: transparent;
    }
    .height-reportes{
        height: 455px;
    }
    .height-inicio{
        height: auto;
    }
    .height-propietarios{
        height:auto;
    }
    .height-propiedades{
        height: 750px;
    }
    .altura-alumnos{
        height: 1050px;
    }
}

@media(min-width:1200px){
    .height-reportes{
        height: 560px;
    }
}

.nav-link:focus > img, .nav-link:hover > img {
    filter: invert(1) !important;
}

.backoffice .tablinks {
    border: 1px solid #000;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    color: var(--mattes);
    background-color: white !important;
}

.tab {
    border: transparent;
    background-color: transparent !important;
}

@media(min-width:768px) {
    .tab {
        border-bottom: 1px solid var(--mattes);
    }
    .backoffice .tablinks {
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        color: var(--mattes);
        background-color: white !important;
    }
}

.backoffice .tabcontent {
    border: none;
}

.backoffice .tablinks.active,
.backoffice .tablinks:hover {
    color: white;
    background-color: #000 !important;
}

.bg-menu {
  background-color: #025272 !important;
}