#btnRuser i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 32px;
    margin-top: 0;
    margin-left: 10px;
}

.navicon-right i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 30px;
    position: relative;
}

#btnLeftMenu i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 35px;
    margin-top: 0;
    margin-left: 15px;
}

.navicon-left {
    background-color: black !important;
    text-align: left;
    justify-content: left;
}

.navicon-right {
    background-color: black !important;
    align-items: flex-end;
    justify-content: right;
}

.navicon-middle {
    background-color: black !important;
    align-items: flex-end;
    justify-content: center;
}

.logo-mattes {
    max-width: 85px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    justify-content: center;
}

.nav-tabs .nav-link {
    color: black !important;
    border: 1px solid #ddd !important;
    margin-bottom: 5.2px !important;
    border-radius: 10px !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: var(--mattes)!important;
    border: 1px solid var(--mattes) !important;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    color: #fff !important;
    background-color: var(--mattes) !important;
    border: 1px solid var(--mattes) !important;
}

.nav-tabs {
    border-bottom: 1px solid transparent !important;
}

.clear {
    clear: both !important;
    margin-top: 20px !important;
}

#searchResult {
    list-style: none !important;
    padding: 0px !important;
    width: 250px !important;
    position: absolute !important;
    margin-top: 43px !important;
    min-width: 100%;
    z-index: 999;
    overflow-y: auto;
}

#searchResult:hover {
    overflow-y: auto;
    height: 500px;
}

#searchResult li {
    background-color: var(--mattes) !important;
    color: var(--blanco);
    padding: 4px !important;
    margin-bottom: 1px !important;
}

#searchResult li:nth-child(even) {
    background-color: var(--blanco) !important;
    color: var(--mattes) !important;
}

#searchResult li:hover {
    cursor: pointer !important;
}

.btn-info {
    font-size: 16px;
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
    border-radius: 0px !important;
}

.btn-info:hover {
    font-size: 16px;
    color: #fff;
    background-color: #138496 !important;
    border-color: #117a8b !important;
    border-radius: 0px !important;
}



input, button, submit { 
    border:none;
    background-color: transparent;
 }


/*Estilos animados a los inputs*/

.form__group {
    margin: auto;
    position: relative;
}

.form__input {
    display: block;
    width: 100%;
    background: none;
    color: #000;
    font-size: 18px;
    padding: 8px 12px 8px 5px;
    border: none;
    border: 1px solid #ccc;
}

.form__input:focus {
    outline: none;
    color: #000;
    padding-bottom: 8px;
}

input {
    caret-color: var(--mattes);
    border-radius: 10px;
}

.form__input:focus+.form__label,
.form__input:not(:placeholder-shown)+.form__label {
    position: absolute;
    top: -23px;
    left: 16px;
    font-size: 18px;
    color: #212529;
    width: 95%;
}

.form__label {
    position: absolute;
    color: #212529;
    font-size: 18px;
    left: 24px;
    top: 6px;
    transition: 0.5s ease all;
    pointer-events: none;
}


input[type=text]:valid:not(:focus):not(:placeholder-shown),
input[type=tel]:valid:not(:focus):not(:placeholder-shown),
input[type=email]:valid:not(:focus):not(:placeholder-shown),
input[type=number]:valid:not(:focus):not(:placeholder-shown),
input[type=date]:valid:not(:focus):not(:placeholder-shown),
select:valid:not(:focus):not(:placeholder-shown),
textarea:valid:not(:focus):not(:placeholder-shown) {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    border: 1px solid #28a745;
    padding-right: calc(1.5em + .75rem) !important;
}

input[type=text]:invalid:not(:focus):not(:placeholder-shown),
input[type=tel]:invalid:not(:focus):not(:placeholder-shown),
input[type=email]:invalid:not(:focus):not(:placeholder-shown),
input[type=number]:invalid:not(:focus):not(:placeholder-shown),
textarea:invalid:not(:focus):not(:placeholder-shown) {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    border: 1px solid #dc3545;
    padding-right: calc(1.5em + .75rem) !important;
}

input[type=text]:invalid:not(:focus):not(:placeholder-shown)~.requirements,
input[type=tel]:invalid:not(:focus):not(:placeholder-shown)~.requirements,
input[type=email]:invalid:not(:focus):not(:placeholder-shown)~.requirements,
input[type=number]:invalid:not(:focus):not(:placeholder-shown)~.requirements,
textarea:invalid:not(:focus):not(:placeholder-shown)~.requirements {
    max-height: 200px;
}

.requirements {
    color: #999;
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    color: red;
    font-family: "Gothici";
}


/*Lineas a lado de la palabra registrate*/

.generales-alumno,
.localizacion-alumno,
.servicios-alumno,
.documentos-alumno{
    color: var(--mattes);
    text-decoration: underline;
}

@media(min-width:576px) {
    .generales-alumno,
    .localizacion-alumno,
    .servicios-alumno,
    .documentos-alumno{
        text-decoration: none;
    }
    .generales-alumno::after,
    .generales-alumno::before,
    .localizacion-alumno::after,
    .localizacion-alumno::before,
    .servicios-alumno::after,
    .servicios-alumno::before,
    .documentos-alumno::after,
    .documentos-alumno::before{
        content: ' ';
        position: absolute;
        width: 120px;
        height: 2px;
        background-color: currentcolor;
        top: 7.8em;
    }
    .localizacion-alumno::after,
    .localizacion-alumno::before {
        top: 1.5em;
    }
    
    .generales-alumno::before {
        left: 65px;
    }
    .generales-alumno::after {
        right: 65px;
    }
    .localizacion-alumno::before {
        left: 50px;
    }
    .localizacion-alumno::after {
        right: 50px;
    }   
    .servicios-alumno::before {
        left: 90px;
    }
    .servicios-alumno::after {
        right: 90px;
    }    
    .documentos-alumno::before {
        left: 65px;
    }
    .documentos-alumno::after {
        right: 65px;
    }   
}

@media(min-width:768px) {   
    .generales-alumno::before {
        left: 155px;
    }
    .generales-alumno::after {
        right: 155px;
    }
    .localizacion-alumno::before {
        left: 140px;
    }
    .localizacion-alumno::after {
        right: 140px;
    }   
    .servicios-alumno::before {
        left: 180px;
    }
    .servicios-alumno::after {
        right: 180px;
    }   
    .documentos-alumno::before {
        left: 155px;
    }
    .documentos-alumno::after {
        right: 155px;
    }   
}

@media(min-width:992px) { 
    .generales-alumno::before {
        left: 275px;
    }
    .generales-alumno::after {
        right: 275px;
    }
    .localizacion-alumno::before {
        left: 260px;
    }
    .localizacion-alumno::after {
        right: 260px;
    }   
    .servicios-alumno::before {
        left: 300px;
    }
    .servicios-alumno::after {
        right: 300px;
    }
    .documentos-alumno::before {
        left: 275px;
    }
    .documentos-alumno::after {
        right: 275px;
    }   
}

@media(min-width:1200px) {
    .generales-alumno::before {
        left: 366px;
    }
    .generales-alumno::after {
        right: 366px;
    }   
    .localizacion-alumno::before{
        left: 355px;
    }    
    .localizacion-alumno::after{
        right: 355px;
    }    
    .servicios-alumno::before {
        left: 390px;
    }
    .servicios-alumno::after {
        right: 390px;
    }   
    .documentos-alumno::before {
        left: 365px;
    }
    .documentos-alumno::after {
        right: 365px;
    }    
}

.servicio {
    padding: 2rem;
    background-color: #0088F7;
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 10px;
}

.servicio::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    height: 0;
    width: 0;
    z-index: 1;
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px);
    border-left-color: #fff;
    margin: 0
}

.badge {
    font-family: "Gothicb";
}

.stepper {
	margin: 0;
	padding: 0;
	border: 1px solid #025272;
	display: inline-flex;
	flex-direction: column;
	position: relative;
	list-style: none;
	overflow: hidden;
    border-radius: 10px;
    
}

@media(min-width:576px){
    .stepper {
        margin: 0;
        padding: 0;
        border: 1px solid #025272;
        display: inline-flex;
        flex-direction: row;
        position: relative;
        list-style: none;
        overflow: hidden;
        background-color: #ccc;
    } 
}
.stepper__wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.stepper__item:first-child .stepper__link {
	padding-left: 5px;    
}

.stepper__item:last-child .stepper__link {
	padding-right: 5px;
}

.stepper__item .badge {
    color: black;
}

.stepper__link {
	background: #ccc;
	color: black;
	display: flex;
    justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	position: relative;     
    border-right: 1px solid #025272;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;    
}

@media(min-width:576px){
    .stepper__link {
        padding: 2px 10px 2px 10px;        
	    flex-direction: column;
    }
}
 .stepper__link::after {
	content: " ";
	display: block;
	position: absolute;
	top: 42%;
    margin-top: -27px;
    left: 100%;
    width: 23px;
    display: block;
    width: 20px;
    height: 65px;
    border-color: #025272;
    border-radius: 0% 80% 80% 0% ;
    z-index: 2;
} 

.stepper__link--active, .stepper__link--active:hover {
	background-color: #025272;
	color: #fff;
}

.stepper__link--active::after, .stepper__link--active:hover::after {
	border-left-color: #025272;
}


.stepper__link--disabled, .stepper__link--disabled:hover {
	background-color: #ccc;
	color: #333;
}

.stepper__link--disabled::after, .stepper__link--disabled:hover::after {
	border-left-color: #ccc;
}  


.carousel-item{
    width: 100px;
}

.tab{
    border: none;
    background-color: transparent !important;
    
}

.tab button{
    padding: 6px 16px;
}

.tablinks.faltante{
    background-color: var(--gris) !important;
    color: white;
    border-radius: 8px !important;
    border: 1px solid black;
}

.tablinks.visited{
    background-color: var(--verde) !important;
    color: white;
    border-radius: 8px !important;
    border: 1px solid black;
}

.tablinks.active {
    background-color: #0088F7 !important;
    color: white;
    border-radius: 8px !important;
    border: 1px solid black;
}

@media(min-width: 768px){
    .tab button{
        padding: 12px 16px;
    }
}

.detalle-prop{
    color: var(--mattes);
    font-family: "Gothicb";
    text-decoration: underline;
}

@media(min-width:576px) {
    .detalle-prop{
        text-decoration: none;
    }
    .detalle-prop::after,
    .detalle-prop::before {
        content: ' ';
        position: absolute;
        width: 80px;
        height: 3px;
        background-color: currentcolor;
        top:13.5rem;
    }

    .detalle-prop::before {
        left: 2px;
    }
    .detalle-prop::after {
        right: 2px;
    }
}

@media(min-width:768px) {
    .detalle-prop::after,
    .detalle-prop::before {
        width: 120px;
        top: 17rem;
    }
    .detalle-prop::before {
        left: 50px;
    }
    .detalle-prop::after {
        right: 50px;
    }
}

@media(min-width:992px) {
    .detalle-prop::before {
        left: 165px;
    }
    .detalle-prop::after {
        right: 165px;
    }
    .detalle-prop::after,
    .detalle-prop::before {
        top: 5.5rem;
    }
}

@media(min-width:1200px) {
    .detalle-prop::before {
        left: 260px;
    }
    .detalle-prop::after {
        right: 260px;
    }
}

.mg-b-170{
    margin-bottom: 170px;
}

.autoComplete_wrapper > ul {
    left: 0 !important;
}

.autoComplete_wrapper > ul > li {
    height: 68px !important; 
    overflow-x: auto !important; 
    text-overflow: inherit !important;
}