.clear {
    clear: both !important;
    margin-top: 20px !important;
}

#searchResult {
    position: absolute !important;
    z-index: 9999;
    overflow-y: scroll;
    overflow-y: auto;
    width: 250px !important;
    min-width: 100%;
    height: auto;
    padding: 0px !important;
    margin-top: 10px !important;
    border-radius: 10px;
    list-style: none !important; 
    transition: all .5s ease;
}

#searchResult li {
    color: var(--mattes);
    background-color: var(--blanco) !important;
    font-size: 1.1rem !important;
}

#searchResult li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#searchResult li:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#searchResult li:hover {
    color: var(--blanco) !important;
    background-color: var(--mattes) !important;
    cursor: pointer !important;
}

.mg-t-200 {
    margin-top: 130px;
}

.tabcontent {
    border: none !important;
}

.tab button.active,
.tab button:hover {
    color: var(--blanco) !important;
    background-color: #000 !important;
}

.tab button {
    float: left;
    padding: 10px 16px;
    border-top: 1px solid #000 ;
    border-right: 1px solid #000 ;
    border-left: 1px solid #000 ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none;
    color: #000;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.tab {
    width: 100%;
    border-color: transparent;
    border-bottom: 1px solid var(--mattes);
    background-color: #fff;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 650px;
    max-width: 100%;
    padding: 25px;
    border: 1px dashed rgba(33, 140, 230, 10);
    border-radius: 3px;
    transition: 0.2s;
}

.choose-file-button {
    flex-shrink: 0;
    padding: 8px 15px;
    margin-right: 10px;
    border: 1px solid rgba(33, 140, 230, 0.6);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.04);
    text-transform: uppercase;
    font-size: 12px;
}

.file-message {
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: small;
    font-weight: 300;
}

.file-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    width: 0;
    height: 0;
    opacity: 0;
}

.slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #cccccc;
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    bottom: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    color: #2132f9;
    background-color: white;
    content: "\f00d";
    -webkit-transition: .4s;
    transition: .4s;
    font-family: 'FontAwesome';
}

input:checked+.slider {
    background-color: #006425;
}

input:focus+.slider {
    box-shadow: 0 0 1px #006425;
}

input:checked+.slider:before {
    content: "\f00c";
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.registrate {
    position: relative;
    display: inline-block;
    color: var(--mattes);
    font-size: 3.5rem;
}

.renta {
    width: 290px;
    height: 340px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 1px #000;
}

.renta-propiedad {
    width: 290px;
    height: 227px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.info-renta {
    padding-left: 1rem;
}

.titulo-propiedad {
    color: var(--mattes);
    font-family: "Gothicb";
}

.disponibilidad {
    color: var(--rojo);
    font-family: "Gothicb";
}

.precio {
    font-size: 1.7rem;
}

.mercadopago-button {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    margin-left: 5px;
    border: 1px solid var(--mattes);
    border-radius: 20px !important;
    background: var(--mattes) !important;
    transition: all .5s ease;
    font-size: 14px !important;
}


/* .mercadopago-button:hover {
    background-color: var(--blanco) !important;
    color: var(--mattes);
    border: 1px solid var(--mattes);
}
 */

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-color: var(--mattes);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: var(--blanco);
    background-color: var(--mattes);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: var(--mattes);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: var(--blanco);
    background-color: var(--mattes);
}

.nav-tabs .nav-link {
    border-color: var(--mattes);
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs {
    border-bottom: 1px solid var(--mattes);
}

.chat-box {
    overflow-y: scroll;
    height: 350px;
    margin-top: 40px;
}
  
.enviado {
    padding: 10px;
    border: none !important;
    border-radius: 20px;
    color: white;
    background-color: var(--mattes2);
}
  
.recibido {
    padding: 10px;
    border: none !important;
    border-radius: 20px;
    background-color: lightgray;
}

.renta-propiedad-titulo{
    position: relative;
    color: var(--mattes);
    text-align: center;
    font-family: 'Gothicb';
    text-decoration: underline;
}
@media(min-width: 576px) {
    .renta-propiedad-titulo {
        text-decoration: none;
    }

    .renta-propiedad-titulo::after,
    .renta-propiedad-titulo::before {
        position: absolute;
        top: 0.6em;
        width: 40px;
        height: 3px;
        background-color: currentcolor;
        content: ' ';
    }  
    .renta-propiedad-titulo::before {
        left: 37px;
    }
    .renta-propiedad-titulo::after {
        right: 37px;
    }
}

@media(min-width: 768px) {
    .renta-propiedad-titulo::before {
        left: 130px;
    }
    .renta-propiedad-titulo::after {
        right: 130px;
    }
}

@media(min-width: 992px) {
    .renta-propiedad-titulo::before {
        left: 245px;
    }
    .renta-propiedad-titulo::after {
        right: 245px;
    }
}
@media(min-width: 1200px) {
    .renta-propiedad-titulo::before {
        left: 335px;
    }
    .renta-propiedad-titulo::after {
        right: 335px;
    }
}

/*Imagenes de las propiedades en el card*/
.renta-alumno figure {
    overflow: hidden;    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.renta-alumno #img-1 {
    transition: .5s all;
}

.renta-alumno #img-1:hover {
    transform: scale(1.1);
}

@media(min-width: 1024px) {
    .ml-lg-precio{
        margin-left:30px;
    }
    .mt-lg-precio{
        margin-top: 35px;
    }
}

.img-con {
    width: 30% !important;
    height: 30% !important;
}


.img-can {
    width: 30% !important;
    height: 30% !important;
}

.btn-res {
    margin-right: 7px !important;
}

.mg-b-220{
    margin-bottom: 220px;
}

@media(min-width:992px) {
    .height-preguntas{
        height: 280px;
    }
    .height-visitas-agente{
        height: 220px;
    }

    .height-visitas{
        height: 280px;
    }
}

/* @media(min-width: 992px){
    .footer{
        position: fixed;
        z-index: 9999;
        bottom: 0;
        left: 0;
        width: 100%;
    }
} */

