 body{
    color: #232323;
    font-size: 14px;
}
/*DATOS DEL PROPIETARIO*/
.form-group input, select {
    display: block !important; 
    margin-bottom: 5px; 
    border: 2px solid #232323;
    width: 100%;
    line-height: 35px;
    height: 40px;
    padding: 0 12px;
}
input,
select, 
textarea,
.form-control{
    border-radius: 0px !important;
    display: block;
} 
textarea{
    width: 100%;
    border: 2px solid #232323;
    color: #000;
}

input[type="text"]{
    color: #000;
}
input[type="tel"], input[type="date"]{
    padding: 0 12px;
}

.btn-save{
    margin-top: 20px !important;
    width: 200px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 15px !important;
    border: 2px solid #4cae4c;
    background-color: #4cae4c;
    color: #fff;
    border-radius: 0;
}
.btn-save:hover {
    border-color: #4cae4c !important;
    background-color: #fff !important;
    color: #4cae4c !important;
}    
.btn-teal{
    margin-top: 20px !important;
    width: 200px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 15px !important;
    border: 2px solid #eea236 !important;
    background-color: #eea236 !important;
    color: #fff;
    border-radius: 0 !important;
}
.btn-teal:hover {
    border-color: #eea236 !important;
    background-color: #fff !important;
    color: #eea236 !important;
    border-radius: 0px !important;    
} 
.btn-danger{
    margin-top: 20px !important;
    width: 200px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    font-size: 15px !important;
    border: 2px solid #ee242a !important;
    background-color: #ee242a !important;
    color: #fff;
    border-radius: 0 !important;
}
.btn-danger:hover {
    border: 2px solid #ee242a !important;
    background-color: #fff !important;
    color: #ee242a !important;
    border-radius: 0px !important;
} 
.btn-danger:hover > a{
    color: #ee242a !important;
}

.file-drop-area {
    border: 2px solid rgb(0, 0, 0);
    padding: 1px;
    border-radius: 0;
}
.choose-file-button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
}
.titulo{
    color: #232323;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.tablinks.active,
.nav-tabs .nav-link.active{
  background-color: #357ebd !important;
  border-radius: 0px !important;
  border: 1px solid #357ebd;
}
.tablinks.faltante,
.nav-tabs .nav-link {
  background-color: white !important;
  color: #357ebd;
  border-radius: 8px !important;
  border: 1px solid #357ebd;
  border-radius: 0px !important;
}
.tablinks.faltante:hover,
.nav-tabs .nav-link:hover {
  background-color: #357ebd !important;
  border-radius: 0px !important;
  border: 1px solid #357ebd;
  color: white;
}
.cajon{
    max-width: 100% !important;
    height: auto !important;
}

.input-group-addon {
    padding: 10px 17px 10px 7px;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 0px !important;
}

/*PALETA DE COLORES DEL TEMPLATE*/
/* .colores{
    color:#fff;
    color:#d4d4d4;
    color:#666;
    color:#232323;
    color:#888888;
    color:#eee;
    color:#f7f7f7;
    color:#ee242a; 
    color:#000;
    color:#e1bd85;
    color:#4cae4c;
    color:#46b8da;
    color:#eea236;
    color:#d43f3a;
    color:#357ebd;    
}
 */
