 body{
    color: #232323;
    font-size: 14px;
}
/*DATOS DEL PROPIETARIO*/
.form-group input, select {
    display: block !important;
    width: 100%;
    height: 40px;
    line-height: 35px;
    padding: 0 12px; 
    margin-bottom: 5px; 
    border: 2px solid #232323;
}
input,
select, 
textarea,
.form-control{
    display: block;
    border-radius: 0px !important;
} 
textarea{
    width: 100%;
    border: 2px solid #232323;
    color: #000;
}

input[type="text"]{
    color: #000;
    border: 2px solid #000;
}
input[type="tel"], input[type="date"]{
    padding: 0 12px;
}

.btn-save{
    width: 200px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin-top: 20px !important;
    border: 2px solid #4cae4c;
    border-radius: 0;
    color: #fff;
    background-color: #4cae4c;
    font-size: 15px !important;
}
.btn-save:hover {
    border-color: #4cae4c !important;
    color: #4cae4c !important;
    background-color: #fff !important;
}    
.btn-teal{
    width: 200px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin-top: 20px !important;
    border: 2px solid #eea236 !important;
    border-radius: 0 !important;
    color: #fff !important;
    background-color: #eea236 !important;
    font-size: 15px !important;
}
.btn-teal:hover {
    border-color: #eea236 !important;
    border-radius: 0px !important;
    color: #eea236 !important;
    background-color: #fff !important;    
} 
.btn-danger{
    width: 200px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    margin-top: 20px !important;
    border: 2px solid #ee242a !important;
    border-radius: 0 !important;
    color: #fff;
    background-color: #ee242a !important;
    font-size: 15px !important;
}
.btn-danger:hover {
    border: 2px solid #ee242a !important;
    border-radius: 0px !important;
    color: #ee242a !important;
    background-color: #fff !important;
} 
.btn-danger:hover > a{
    color: #ee242a !important;
}


.file-drop-area {
    padding: 1px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 0;
}
.choose-file-button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0;
}
.titulo{
    color: #232323;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.tab{
    border: 1px solid transparent;
    background-color:transparent;
    border-bottom: 1px solid #000;
}
.tablinks.active,
.nav-tabs .nav-link.active{
  border: 1px solid #000 !important;
  border-radius: 0px !important;
  color: white !important;
  background-color: #000 !important;
}
.tablinks.faltante,
.nav-tabs .nav-link,
.tab button {
  border: 1px solid #000;
  border-radius: 8px !important;
  border-radius: 0px !important;
  color: #000;
  background-color: white !important;
}
.tablinks.faltante:hover,
.nav-tabs .nav-link:hover,
.tab button:hover {
  border: 1px solid #000;
  border-radius: 0px !important;
  color: white;
  background-color: #000 !important;
}
.cajon{
    max-width: 100% !important;
    height: auto !important;
}

.input-group-addon {
    padding: 10px 22px 10px 7px;
    border: 2px solid #000;
    border-radius: 0px !important;
    color: #000;
    background-color: #fff;
}
.input-group-addon a .fa{
    color: #000;
}
.input-group-addon:not(:last-child) {
  border-right: 2px solid #000;
  border-left: 0;
}
.input-group-addon, .input-group-btn {
  height: 40px;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  border-radius: 0;
}
.btn, .btn-enviar{
    border-radius: 0px !important;
}
.btn-enviar{    
    background-color: #000 !important;
}

input[type="search"] {
  border: 1px solid black !important;
  border-radius: 0 !important;
}
.grid-item {
  border: 1px solid #9a9a9a;
  border-radius: 0px !important;
  box-shadow: 0px !important;
}
/* .table-responsive{
    display: inline-table !important;
} */
 
.bg-menu{
    background-color: #025272 !important;
}
.bg-inmobiliaria{  
    background-image: url('../../assets/img/a4r/datos-inmobiliaria.png');     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-propiedad{  
    background-image: url('../../assets/img/a4r/anuncio8.jpg');   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-registro-propietario{
    background-image: url('/assets/img/a4r/freepik/house-isolated-field.jpg');
} 

.bg-registro-usuario{  
    background-image: url('/assets/img/a4r/register1.jpg'); 
} 
.bg-registro{  
    background-image: url('/assets/img/a4r/register3.jpg'); 
} 
.bg-login{  
    background-image: url('/assets/img/a4r/register2.jpg');  
} 

.bg-registro-propietario,
.bg-registro-usuario,
.bg-login,
.bg-registro{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-registro-propietario::before,
.bg-registro-usuario::before,
.bg-login::before,
.bg-registro::before{  
    content: '';
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
} 
 
.servicios{
    color: #232323;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat';
    text-transform: uppercase;
}
.servicio-icono{
    color: #232323;
    font-weight: bold;
    font-size: 14px;
}
/*PALETA DE COLORES DEL TEMPLATE*/
/* .colores{
    color:#fff;
    color:#d4d4d4;
    color:#666;
    color:#232323;
    color:#888888;
    color:#eee;
    color:#f7f7f7;
    color:#ee242a; 
    color:#000;
    color:#e1bd85;
    color:#4cae4c;
    color:#46b8da;
    color:#eea236;
    color:#d43f3a;
    color:#357ebd;    
}
 */
